<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/person.css">
    <script type="text/javascript" src="/js/jquery-1.11.min.js"></script>
    <script src='/js/common.js'></script>

    <title>
        <%=person.name%>
    </title>
</head>

<body>
    <%- include('../component/header')%>
        <div class="container-types">
            <div class="side-section nav">
                    <div class="navTitle ">
                        热门人物
                    </div>
                <ul class='hot-person'>
                <%for(var i =0,len=other.length;i<len;i++){%>

                    <li class='person-item'>
                        <a href="/introduction/team/person?id=<%=other[i].id%>&sort=<%=sort%>">
                            <img src="<%=other[i].avatar%>" alt="">
                        
                           <span>
                             <%=other[i].name%>
                           </span>
                                                      
                        </a>
                    </li>
                    
                <%}%>
                </ul>
            </div>

            <div class="detail">
                <div class="top">
                    <h1><%=person.name%></h1>          
                <img src="<%=person.avatar%>" alt="">     
                </div>
                <div class="main">
                    <%-person.content%>
                </div>
            </div>
        </div>
        <%- include('../component/footer') -%>
</body>