<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/common.min.css">
    <link rel="stylesheet" href="/style/info.css">
    <script type="text/javascript" src="/js/jquery-1.11.min.js"></script>
    <script type="text/javascript" src="/js/article.js"></script>
    <script src='/js/common.js'></script>

    <title><%=data.title%></title>
</head>
<body>
      <%- include('./component/header')%>

    <div class="container">
        <div class="content container-types">
            <article>
                <div class="content-title">
                    <h1><%=data.title%></h1>
                    <div class="tit-info">
                        <span class="date"><%=data.time%></span>
                        <span class="post">作者：<%-data.author%></span>
                        <span class="number"><%=data.browse%></span>
                    </div>
                </div>

                <div class="content-main">
                   <%-data.content%>
                </div>
            </article>
            <div class="parise-box" data-id=<%=data.id%> data-sort=<%=sort%>>
                <input type='radio' class='parise-btn' id='parise-btn'>
                    <label class='icon-praise' for="parise-btn">
                    </label>
                 <p class='parise-show' ><i class='praise-num'><%=data.praise%></i>人推荐</p>   
            </div>    
        </div>
    </div>
    <%- include('./component/footer') -%>

    
    <!--回到顶部-->
    <div id="goTop"></div>

    <script>
      
    </script>

</body>
</html>