<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/quill.css">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/article.css">
     <script type="text/javascript" src="/js/trim-html.js"></script>

    <script type="text/javascript" src="/js/jquery-1.11.min.js"></script>
    <script type="text/javascript" src="/js/article.js"></script>
    <script src='/js/common.js'></script>
    <script>
   
  
    </script>
    <title>
        <%=data.title%>
    </title>
</head>

<body>
    <%- include('./component/header')%>

        <div class="container-types">
            <div class='side-section left-section'>
             
                    <div class="post_topshare">
						<p class="post_topshare_title">分享到：</p>
						<ul class=" post_share " >
							
							<li class="share_weixin" action-type="top">
							    <a href="javascript:;" target="_self"><i title="分享到微信" ></i><span></span>微信</a>
							</li>
							<li class="share_qzone" action-type="qzone">
								<a href="javascript:;" target="_self"><i title="分享到QQ空间"></i><span></span>QQ空间</a>
							</li>
							<li class="share_weibo" action-type="weibo">
								<a href="javascript:;" target="_self"><i title="分享到新浪微博"></i><span></span>微博</a>
							</li>
						</ul>
                            <div class="js_qrcode_wrap hidden" id="js_qrcode_top">
                                <div class="js_qrcode_arr"></div>
                                <a href="javascript:;" target="_self" class="js_qrcode_close" data-type="top" title="关闭"></a>
                                <p>用微信扫码二维码</p>
                                <p>分享至好友和朋友圈</p>
                            </div>
					</div>
                    
                  <div class="jiathis_style_24x24 hidden">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
    </div>
            </div>   
            <div class="content">
                <article>
                    <div class='post_crumb'>
                    <%for(var i = 0,len = route.length;i < len;i++){%>
                       <a href="<%=route[i].path%>"><%=route[i].name%></a> > 
                       <%}%>
                       正文
                    </div>
                    <div class="content-title">
                        <h1>
                            <%=data.title%>
                        </h1>
                        <div class="tit-info">
                            <span class="date">
                               <%=data.time%>
                            </span>
                            <span class="author">来源：
                                <%-data.source%>
                            </span>
                            <span class="number">
                                浏览数：<%=data.browse%>
                            </span>
                        </div>
                    </div>

                    <div class="content-main">
                        <div class='post_text ql-editor'>
                            <%-data.content%>
                        </div>
                        <div class='article-editor'>
                            责任编辑：<%=data.author%>
                        </div>
                    </div>
                </article>
               
            </div>
            <div class="side-section right-section">
                
                <!--热门文章-->
                <div class='side-article column2'>
                     <div class="top-band-title" style="display: block;">
        
        

                <a class="no-comment-title">近期热门文章</a>
            <em id="top-bandArrow" style="left: 174px;"></em>
            </div>
                    <ul class='hotBox'>
                        <%if(!!HotArticle){
                        for(var i =  0;i < HotArticle.length ;i++){%>

                            <li class="hot-item ">
                                <div class='item-img'>
                                     <%if(HotArticle[i].img !=='0'){%>
                                        <img src=<%=HotArticle[i].img%> class='hot-img' alt=''>
                                  <%}%>
                                </div>
                                 <div class='item-content'>
                                    <a href='/showArticle/article?id=<%=HotArticle[i].id%>&type=<%=HotArticle[i].type%>&sort=<%=sort%>'>
                                    <%=HotArticle[i].title %>
                                </a>
                                 </div>
                                
                            </li>
                        <%}}%>
                    </ul>
                </div>
            </div>
          
        </div>
        
         <div class="parise-box" data-id=<%=data.id%> data-sort=
                    <%=sort%> data-type=
                        <%=data.type%>>
                            <input type='radio' class='parise-btn' id='parise-btn'>
                            <label class='icon-praise' for="parise-btn">
                            </label>
                            <p class='parise-show'>
                                <i class='praise-num'>
                                    <%=data.praise%>
                                </i>人推荐</p>
                </div>
        </div>
        <%- include('./component/footer') -%>
            <!--回到顶部-->
        <div id="goTop"></div>
       

      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
        
</body>

</html>