<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content='广东财经大学流通经济研究所,广财流通所,广州现代物流与电子商务发展研究基地' name='keywords'>
    <meta content='广东财经大学流通经济研究所,广州现代物流与电子商务发展研究基地' name="description">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon"　/>
    <script type="text/javascript" src="js/jquery-1.11.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src='js/index.js'></script>
    <script type="text/javascript" src='js/common.js'></script>
    
    <link rel="stylesheet" href="style/slick/slick.css">
    <link rel="stylesheet" href="style/slick/slick-theme.css">
    <link rel="stylesheet" href="style/mixin.css">
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/index.css">

    <title>广东财经大学商贸流通经济研究所</title>
</head>
<body>
    <%- include('./component/header')%>

    <div class='container'>
         <!--轮播图部分-->
        <section class='container-types'>
        <div class='banner'>
        <%for(var i =0,len = banner.length;i < len;i++){%>
            <a target='_blank' class='banner-link' href='/showArticle/article?id=<%=banner[i].id%>%>'>
                <img src=<%=banner[i].path%> alt="1">
                <div class='banner-title'>
                   
                     <p ><%=banner[i].title%></p>
                </div>
            </a>
            <%}%>
           
        </div>
       
    </section>
        <!--科研资讯-->
        <section class='info container-types'>
            <p class='part-title info-title'>科研资讯</p>
            <div class='flexbox'>
                <div class='newsLeft'>
                    <a target='_blank' href='/showArticle/article?id=<%=info.banner.id%>'>
                        <img src=<%=info.banner.src%>>
                        <h4><%=info.banner.title%></h4>
                    </a>
                    <p>
                        <%-info.banner.summary%></p>
                </div>
                <div class='newsRight'>
                    <ul class='news-box'>
                    <%for(var i = 0;i < 8;i++){%>
                        <li class='new-item'>
                            <a target='_blank' href='/showArticle/article?id=<%=info.aNew[i].id%>'><%=info.aNew[i].title%></a>
                        </li>
                        <%}%>
                    </ul>
                    <a target='_blank' href="/showArticle/catalog?sort=information&type=1" class='toMore'>more</a>
                </div>
            </div>
    
        </section>
        <!-- 科学研究、学术交流、团队介绍、科研成果 -->
        <section class='container-types'>
            <div class='mixLeft'>
                <div class='mix-box'>
                    <p class='part-title minx-box1-title'>
                        科学研究
                        <a target='_blank' href="/showArticle/catalog?sort=research&type=1" class='toMore'>more</a>
    
                    </p>
                    <div class='box1-content'>
                        <a target='_blank' href='/showArticle/article?id=<%=research.id%>'>
                            <img src=<%=research.src%> >
                        </a>
                        <div class='secient-content'>
                            <h3>
                                <a target='_blank' href='/showArticle/article?id=<%=research.id%>'><%=research.title%></a>
                            </h3>
                            <p>
                                <%-research.summary%></p>
                        </div>
                    </div>
                </div>
    
                <div class='mix-box'>
                    <p class='part-title minx-box2-title'>
                        学术交流
                        <a target='_blank' href="/showArticle/catalog?sort=exchange&type=1" class='toMore'>more</a>
    
                    </p>
                    <div class='box2-content'>
                        <div class='box2-box'>
                        <%for(var i = 0, len = exchange.length; i < len;i++){%>
                            <a target='_blank' href='/showArticle/article?id=<%=exchange[i].id%>' class='box2-item'>
                               <%-exchange[i].title%>                           
                            </a>
                            <%}%>
                            
                        </div>
    
                    </div>
                </div>
            </div>
            <div class='mixRight'>
    
                <a target='_blank' class='pic-box pic-box1' href="/introduction/team/catalog?sort=team">
                    <div class='pic-box-left'>
                        <i class='pic-icon'></i>
                        <p>研究团队</p>
                    </div>
                    <img src='images/ava.jpg'>
                </a>
                <a target='_blank' class='pic-box pic-box2' href="/showArticle/catalog?sort=achievement&type=2">
                    <div class='pic-box-left'>
                        <i class='pic-icon'></i>
                        <p>科研成果</p>
                    </div>
                    <img src='images/book.jpg'>
                </a>
    
            </div>
    
        </section>
        <!--咨询培训、智库建设-->
       
       
        <!-- </div> -->
    
    </div>
    <%- include('./component/footer') -%>
</body>
</html>