<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/jquery-1.11.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src='js/index.js'></script>
    <script type="text/javascript" src='js/common.js'></script>
    
    <link rel="stylesheet" href="style/slick/slick.css">
    <link rel="stylesheet" href="style/slick/slick-theme.css">
    <link rel="stylesheet" href="style/common.min.css">
    <link rel="stylesheet" href="style/mixin.min.css">
    <link rel="stylesheet" href="style/index.min.css">

    <title><%=title%></title>
</head>
<body>
    <%- include('./component/header')%>

    <div class='container'>
         <!--轮播图部分-->
        <section class='container-types'>
        <div class='banner'>
            <a>
                <img src="images/1.png" alt="1">
            </a>
            <a>
                <img src="images/2.png" alt="2">
            </a>
            <a>
                <img src="images/3.png" alt="3">
            </a>
            <a>
                <img src="images/4.png" alt="4">
            </a>
            <a>
                <img src="images/5.png" alt="5">
            </a>
        </div>
       
    </section>
        <!--科研资讯-->
        <section class='info container-types'>
            <p class='part-title info-title'>科研资讯</p>
            <div class='flexbox'>
                <div class='newsLeft'>
                    <a href="/showArticle/cri">
                        <img <%=info.banner.src%>>
                        <h4><%=info.banner.title%></h4>
                    </a>
                    <p>
                        <%=info.banner.summary%></p>
                </div>
                <div class='newsRight'>
                    <ul class='news-box'>
                    <%for(var i = 0;i < 8;i++){%>
                        <li class='new-item'>
                            <a href='/showArticle/cri?id=<%=info.aNew[i].id%>'><%=info.aNew[i].title%></a>
                        </li>
                        <%}%>
                    </ul>
                    <a href="/showArticle/catalog?type=cri" class='toMore'>more</a>
                </div>
            </div>
    
        </section>
        <!-- 科学研究、学术交流、团队介绍、科研成果 -->
        <section class='container-types'>
            <div class='mixLeft'>
                <div class='mix-box'>
                    <p class='part-title minx-box1-title'>
                        科学研究
                        <a href="./pages/research1.html" class='toMore'>more</a>
    
                    </p>
                    <div class='box1-content'>
                        <a href="info/info-1.html">
                            <img src='images/pic1.jpg'>
                        </a>
                        <div class='secient-content'>
                            <h3>
                                <a href="info/info-1.html">《广州市南沙区再生资源回收网点发展规划》专家评审会召开</a>
                            </h3>
                            <p>
                                《广州市南沙区再生资源回收网点规划（2016-2020年）》由南沙区工业和科技信息化局、广东省商业经济学会、广东财经大学组成的课题组共同完成。课题组负责人王先庆教授对规划的背景、目标、策略、主要内容以及创新之处进行了介绍和说明。</p>
                        </div>
                    </div>
                </div>
    
                <div class='mix-box'>
                    <p class='part-title minx-box2-title'>
                        学术交流
                        <a href="./pages/academic1.html" class='toMore'>more</a>
    
                    </p>
                    <div class='box2-content'>
                        <div class='box2-box'>
                            <a href="info/info-1.html" class='box2-item'>
                                <p>2016年华南商业地产创新论坛成功举办</p>
                                <div class='box2-mask'>
                                    <p>点击进入</p>
                                </div>
                                <div class='blur'></div>
                            </a>
                            <a href="info/info-1.html" class='box2-item'>
                                <p>流通所、管理学院承办首届华南现代物流学术年会</p>
                                <div class='box2-mask'>
                                    <p>点击进入</p>
                                </div>
                            </a>
                            <a href="info/info-1.html" class='box2-item'>
                                <p>广州市现代物流与电子商务发展研究基地建设工作会议暨流通经济研究所第十一届专兼职研究人员学术交流会议在我校举行</p>
                                <div class='box2-mask'>
                                    <p>点击进入</p>
                                </div>
                            </a>
                            <a href="info/info-1.html" class='box2-item'>
                                <p>2014首届中国（广州）专业市场发展大会暨专业市场全国推广合作大会隆重召开</p>
                                <div class='box2-mask'>
                                    <p>点击进入</p>
                                </div>
                            </a>
    
                            <a href="info/info-1.html" class='box2-item'>
                                <p>中国本土管理研究与理论建构青年学者论坛2016质性研究工作坊</p>
                                <div class='box2-mask'>
                                    <p>点击进入</p>
                                </div>
                            </a>
                            <a href="info/info-1.html" class='box2-item'>
                                <p>华南商界名家百人系列讲座：广百物流高艺林董事长谈物流成本</p>
                                <div class='box2-mask'>
                                    <p>点击进入</p>
                                </div>
                            </a>
                            </p>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class='mixRight'>
    
                <a class='pic-box pic-box1' href="./pages/ins4.html">
                    <div class='pic-box-left'>
                        <i class='pic-icon'></i>
                        <p>专家团队</p>
                    </div>
                    <img src='images/ava.jpg'>
                </a>
                <a class='pic-box pic-box2' href="./pages/archi1.html">
                    <div class='pic-box-left'>
                        <i class='pic-icon'></i>
                        <p>科研成果</p>
                    </div>
                    <img src='images/book.jpg'>
                </a>
    
            </div>
    
        </section>
        <!--咨询培训、智库建设-->
        <section class='container-types train'>
            <p class='part-title train-title'>
                咨询培训
                <a href="./pages/consult1.html" class='toMore'>more</a>
    
            </p>
    
            <div class='card-box'>
                <div class='index-card'>
                    <a href="info/info-1.html">
                        <div class='card-time'>
                            <p>9月</p>
                            <p>30号</p>
                        </div>
                        <div class='card-content'>
                            <div class='card-content-inner'>
                                <p>
                                    王先庆给2016年顺德商会协会秘书长培训班授课
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class='index-card'>
                    <a href="info/info-1.html">
    
                        <div class='card-time'>
                            <p>8月</p>
                            <p>11号</p>
                        </div>
                        <div class='card-content'>
                            <div class='card-content-inner'>
                                <p>
                                    王先庆给广东省国土资源厅干部培训班授课
    
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class='index-card'>
                    <a href="info/info-1.html">
    
                        <div class='card-time'>
                            <p>6月</p>
                            <p>2号</p>
                        </div>
    
                        <div class='card-content'>
                            <div class='card-content-inner'>
                                <p>
                                    王先庆在阳江进行“新常态下创新驱动”专题培训班主讲
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class='index-card'>
                    <a href="info/info-1.html">
    
                        <div class='card-time'>
                            <p>6月</p>
                            <p>2号</p>
                        </div>
    
                        <div class='card-content'>
                            <div class='card-content-inner'>
                                <p>
                                    王先庆贵州荔波县2016党政干部培训班授课
    
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class='index-card'>
                    <a href="info/info-1.html">
    
                        <div class='card-time'>
                            <p>5月</p>
                            <p>16号</p>
                        </div>
                        <div class='card-content'>
                            <div class='card-content-inner'>
                                <p>
                                    王先庆给商务部第四期互联网+传统专业市场培训班授课
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class='index-card'>
                    <a href="info/info-1.html">
    
                        <div class='card-time'>
                            <p>11月</p>
                            <p>9号</p>
                        </div>
                        <div class='card-content'>
                            <div class='card-content-inner'>
                                <p>
                                    王先庆给商务部第十四期商贸物流与"互联网+物流"研修班授课
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!-- </div> -->
    
    </div>
    <%- include('./component/footer') -%>
</body>
</html>