<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/catalog.css">
    <link rel="stylesheet" href="/style/pagination.css">
    
    <script type="text/javascript" src="/js/jquery-1.11.min.js"></script>
    <script type="text/javascript" src="/js/jquery.pagination.js"></script>

    <script src='/js/common.js'></script>
    <script src='/js/catalog.js'></script>


    <title><%=key%></title>
</head>
<body>
      <%- include('./component/header')%>

    <div class="container">
        <!--左侧-->
        <div class='container-types'>
                      
        <div class="boxRight" style='width:100%;'>
            <div class="part-title">
                搜索结果

        <div class="s-bar">
        <form action='/showArticle/search' method="get" id='search'>
                 <input type="text"  class="search-input" placeholder="点击搜索" name='key'>
                 <input type="hidden"  value='0' name='start'>
                 <input type='submit' val='搜索' class='search-btn'>
            <a  class='search-icon'></a>
        </form>
        
           
          </div>

                </div>
                <div class="detail">
                    <%if(data.length > 0){%>
                
                    <ul class='detail-box'>
                    
                      <%for(var i =  0;i < data.length ;i++){%>
                    
                        <li>
                            <a target='_blank' href='/showArticle/article?id=<%=data[i].id%>'><h3 class='new-title'><%=data[i].title %></h3></a>
                            <div class='new-box'>

                                <%if(data[i].img !=='0'){%>
                                <a target='_blank' href='/showArticle/article?id=<%=data[i].id%>' class='new-content-summary'>
                                <img src=<%=data[i].img%> class='new-img' onerror="this.src='/images/error.jpg'" alt='<%-data[i].summary%>'style='height:200px'>
                              
                                <div class='new-content'>
                                    
                                    <%if(data[i].summary){%><%-data[i].summary%><%}%>
                                    
                                </div>
                                    </a>
                                
                                <%}else{%>
                                     <div class='new-content-other'>
                                         <a target='_blank' href='/showArticle/article?id=<%=data[i].id%>'>
                                            <%if(data[i].summary){%><%-data[i].summary%><%}%>
                                    
                                    </a>
                                   </div>
                                <%}%>
                                    <div class='new-content-data'><span class='data-time'><%=data[i].time%></span><span class='data-browse'><%=data[i].browse%></span><span class='data-praise'><%=data[i].praise%></span></div>
                                
                            </div>
                        </li>
                       <%}%> 
                    </ul>
                    <%}%>
                    <%if(data.length === 0){%>
                        <p class='content-warm'>暂无内容</p>
                    <%}%>                    
                </div>
                <%if(data.length > 0){%>
                <!--分页组件-->
                <div class="M-box" search-type = '1' data-page=<%=pageCount%>  data-key=<%=key%>></div>
                <%}%>
            </div>
        </div>
    </div>
    <%- include('./component/footer') -%>
</body>
</html>